.hoverAnim {
    width: 100px;
    height: 100px;
    position: relative;
    animation: myfirst 2s linear 1s infinite alternate;
  }
  
  @keyframes myfirst {
    0%   {top: 40%;}
    50%  {top:43%;}
    100% {top: 46%;}
  }

  @media (max-width: 575px) {
    /*By default, containers are only full-width on xs screens. 
    This makes them full-width om sm screens as well*/
    .floatingImg {
      max-width: 70%;
    }
  }