/* 
**********TABLE OF CONTACTS************ 
=======================================
 
1. NAVIGATION BAR
2. SIDE PANEL

*/
/* 
***************** NAVIGATION BAR ****************
================================================= 
*/
.containerOne {
  padding: 20px;
}

.containerOne h1 {
  color: red;
}

.signee-table {
  width: 90%; /* Adjusted width for a bit wider table */
  border-collapse: collapse;
  margin: auto; /* Center the table */
}

.signee-table th, .signee-table td {
  text-align: left;
  padding: 8px;
  color: black;
  font-weight: bold; /* Make the font bold */
}

.signee-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.signee-table thead tr {
  border-bottom: 2px solid #dddddd;
}
.nav-logo{
    width: 60px;
}

.btn-width {
    width: 5rem;
    margin: 0 5px;
    position: relative;
    overflow: hidden;
    height: 2.7rem;
}

.btn-login:hover::before {
    transform: scaleX(1);
  }
  
  .btn-login-content {
    position: relative;
    z-index: 1;
  }
  
  .btn-login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background:
      /* rgb(14,114,124); */
      rgb(68,166,173);
    transition: all 0.475s;
  }
  .containerOne{
    background-color: rgba(68, 166, 173, 0.4);
    height: 85vh;
    justify-content: center;
    align-items: center;
  }
  .containerTwo{
    border: 2px dotted #000;
  }

  /* 
  ******************* SIDE PANEL *******************
  ==================================================
  */

  .panel-img {
    width: 10rem
  }

  .button {
    position: relative;
    justify-content: center;
    border: none;
    padding: 1rem;
    background-color: transparent;
    width: 80%;
    margin: 0  auto;
  }
  
  @media (max-width: 575px) {
    .sideBar {
        display: none;
    }
  }